body {
    background-color: black;
}

.grid-container {
    background-color: #363636;
    width: 404px;
    margin-left: 37%;
    margin-top: 110px;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    border-bottom: 1px solid silver;
}

.grid-container>div {
    top: 100px;
    font-family: montserrat;
    width: 38px;
    margin: 5px;
    height: 52px;
    color: white;
    text-align: center;
    line-height: 52px;
    font-size: 22px;
    margin-top: 15px;
}

.grid-container>.calendar:hover {
    box-shadow: inset 50px 0 0 0 #f9e506;
    cursor: pointer;
}

.time {
    display: flex;
    font-size: 60px;
    font-family: montserrat;
    left: 37.16%;
    right: 37.166%;
    margin-top: -73px;
    position: absolute;
    height: 100px;
    color: white;
    background: #363636;
    width: 404px;
    border-bottom: 1px solid silver
}

.event {
    left: 37.1%;
    position: absolute;
    font-size: 24px;
    font-family: system-ui;
    background: #363636;
    width: 405px;
    height: 182px;
    color: white;
}

.event p {
    margin-top: 2px;
    margin-left: 9px;
    font-weight: 100;
}

.event input {
    background: none;
    border: none;
    border-style: ridge;
    border-color: white;
    border-width: 1px;
    position: relative;
    left: 2.5%;
    height: 27px;
    width: 376px;
    font-family: inherit;
    top: -16px;
    color: white;
    font-weight: 500;
}

.event .local p {
    font-size: 15px;
    position: relative;
    left: 9.8rem;
    top: -1.5rem;
}